<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Audi0Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52CB68E71CC9EE5200782472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CB69001CC9EE5200782472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CB690B1CC9EE5200782472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
