<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52235A311CEEE3DF00FEF0F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52235A4D1CEEE3DF00FEF0F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52235A581CEEE3DF00FEF0F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
