<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DOBCalculationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52A25B251CF46A6000F2F85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A25B3E1CF46A6100F2F85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A25B491CF46A6100F2F85E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
