<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIGestureMoveImageAndLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52A6A5921CC0D0C6001A31B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A6A5AB1CC0D0C7001A31B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A6A5B61CC0D0C7001A31B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
