<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WedgetDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>new.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52BB33F01CD772B500558D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BB34091CD772B500558D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BB34141CD772B500558D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BB342A1CD7732200558D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
