<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomSingletonImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523AEEEE1CB8C4E600A5A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523AEF071CB8C4E700A5A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523AEF121CB8C4E700A5A86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
