<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ModalSegue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52222F7A1CC75461007E5DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52222F931CC75461007E5DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52222F9E1CC75462007E5DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
