<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabelViewCustomview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>528FC4E91CD214D300746AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528FC5021CD214D300746AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528FC50D1CD214D300746AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
