<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multiple_Scenes_using_Segues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52CEFD051CC60B1B00221C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CEFD1E1CC60B1B00221C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CEFD291CC60B1B00221C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
