<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeTextFieldInDifferentShape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526C2F891CCE0A8100F9D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526C2FA21CCE0A8100F9D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526C2FAD1CCE0A8200F9D63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
