<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrintDocument.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>524768591D80145B00B2B1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524768721D80145C00B2B1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5247687D1D80145C00B2B1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
