<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myExampleOnGdrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15028FAE1DED8B5F00650E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15028FC71DED8B6000650E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15028FD21DED8B6000650E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
