<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISegmentdViewAndSwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>522023DC1CBF635B00924448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522023F51CBF635B00924448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522024001CBF635B00924448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
