<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autolayoutexample4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52E96E881CB688D0004F71C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E96EA11CB688D1004F71C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E96EAC1CB688D1004F71C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
