<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionViewInsideTableViewCellDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5257F33F1DF54CA400410B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5257F3581DF54CA400410B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5257F3631DF54CA400410B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
