<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaskOnNSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525B2A281CBE0A1E00B32851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525B2A411CBE0A1E00B32851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525B2A4C1CBE0A1F00B32851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
