<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionViewDisplayVisitingPlc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5225F5B21CD3223900561A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5225F5CB1CD3223900561A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5225F5D61CD3223900561A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
