<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddImageToButtonApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52DAFE931CAD122F000E39E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DAFEAC1CAD1230000E39E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DAFEB71CAD1230000E39E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
