<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoLocalNotificationApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52CB5AFD1CF4FBE300183DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CB5B191CF4FBE400183DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CB5B241CF4FBE400183DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
