<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoListUsingMvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521CA1941CD8746A003507B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521CA1AD1CD8746A003507B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521CA1B81CD8746A003507B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
