<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDatapassingDatatbyusingAlertcontrlerr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5233F0491CE9A0010074C248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5233F0651CE9A0010074C248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5233F0701CE9A0010074C248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
