<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>custom_TableView_UsingLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523D87F51CCF35CF0023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523D880E1CCF35D00023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523D88191CCF35D00023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
