<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTableApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52AD2EB71CD07EE000185806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AD2ED01CD07EE000185806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AD2EDB1CD07EE000185806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
