<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Custom_Table_View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523D87B61CCF2E2B0023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523D87CF1CCF2E2B0023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523D87DA1CCF2E2B0023A4A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
