<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COREDATAPASSINGDATA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>528FCD691CE8B4C200B79820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528FCD851CE8B4C300B79820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528FCD901CE8B4C300B79820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
