<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickerAndTabBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5209C31B1D5332590011D04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5209C3341D5332590011D04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5209C33F1D53325A0011D04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
