<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Java</key>
	<string>Williams</string>
	<key>Embedded System</key>
	<string>Meheboob Nadaf</string>
	<key>Operating System</key>
	<string>Dhamdhare</string>
	<key>Digital Electronics</key>
	<string>Bhakshi</string>
	<key>Objective-C</key>
	<string>Stephen Hawking</string>
	<key>Objective-C for beginers</key>
	<string>Meheboob Nadaf</string>
	<key>iOS Development</key>
	<string>Meheboob Nadaf</string>
	<key>Programming Skills</key>
	<string>Meheboob Nadaf</string>
	<key>Analog Electronics</key>
	<string>ArunKumar</string>
	<key>Multi Media</key>
	<string>Mehebooob Nadaf</string>
</dict>
</plist>
