<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTML</key>
	<string>Raghavendra</string>
	<key>CSS</key>
	<string>Bhagyashree</string>
	<key>JavaScript</key>
	<string>Meheboob Nadaf</string>
	<key>Bootstrap</key>
	<string>Harish</string>
	<key>jQuery</key>
	<string>Bhaskar</string>
</dict>
</plist>
