<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindingAgeDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52B198111CF47EA60088FF63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B1982A1CF47EA60088FF63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B198351CF47EA70088FF63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
