<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Social Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5277A9D81D8D499900A6F445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5277A9F11D8D499A00A6F445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5277A9FC1D8D499A00A6F445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
